.App {
  text-align: center;
  background-color: rgb(34, 33, 33);
  height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App span{
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.App button{
  width: 200px;
  height: 100px;
  background-color: rgb(49, 15, 131);
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 10px;
}
.App button:hover{
  background-color: rgb(34, 9, 92);
  cursor: pointer;
}